.content{
    color: rgb(255, 255, 255);
    margin-left: 250px;
    height: max-content;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px){
    .content{
        margin-left: 0px;
    }
}