.navbar{
    display: flex;
    height: 1200px;
    width: 250px;
    background-color: #000000;
    color: #FFD800;

    position: fixed;
    left: 0;
    top: 0;
}

.navbar h1{
    padding: 2em 0em 0em;
    text-align: center;
    font-size: 26px;
}

.navbar nav{
    margin-top: 20px;
    padding: 1.5em;
}

.navbar nav ul li a, li{
    list-style: none;
    text-decoration: none;
    color: #FFD800;
    font-size: 20px;
    padding: .5em;
    text-align: center;
}

.navbar div ul{
    display: flex;
    padding: 1em;
    margin-top: 25px;
}

.navbar div ul li a img{
    background-color: #FFD800;
    width: 35px;
    padding: .1em;
    margin: .5em;
    border-radius: 50%;
}

.navbar footer{
    color: #FFF;
    font-size: 11px;
    margin-top: 90px;
    text-align: center;
}

.navbar nav ul li a{
    list-style: none;
    text-decoration: none;
    color: #FFD800;
    font-size: 20px;
    padding: .5em;
    text-align: center;
}