.background{
    background-color: rgb(0, 0, 0);
    background-image: url(../public/svgs/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
}