.biography{
    display: flex;
}

.biography div h1{
    text-align: center;
}

.biography .info{
    padding: 4em 1.5em;
}

.biography .info h2{
    font-size: 30px;
}

.biography .info span{
    font-weight: bold;
}

.biography .imgs{
    padding: 2em 14em;
    display: flex;
    flex-direction: column;
}

.biography .imgs img{
    width: 600px;
    display: flex;
    padding: 1em;
}