.biography{
    display: flex;
    flex-direction: column;
}

.biography h1{
    text-align: center;
    color: #FFD800;
}

.biography .info{
    padding: 4em 1.5em;
    margin-left: 2em;
}

.biography .info h2{
    font-size: 30px;
}

.biography .info span{
    font-weight: bold;
}

.biography .imgs{
    margin-left: 3em;
    padding: 00em 8.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1000px;
}

.biography .imgs img{
    width: 700px;
    display: flex;
    padding: 2em;
}

