.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form h1{
    text-align: center;
    color: #FFD800;
    padding: 3em 0em 3em 0em;
}

.form form{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 2em;
    justify-content: center;
}

.form form p {
    font-size: 34px;
    padding-bottom: 3em;
}

.form label{
    margin-bottom: .1em;
    font-weight: bold;
}

.form input{
    padding: .7em;
    border-radius: 0;
    border: none;
    margin-bottom: 1.5em;
}

.form input::placeholder{
    color: #7b7b7b;
}

.form .msg{
    padding-bottom: 100px;
    border-radius: 0;
    border: none;
    margin-bottom: 1.5em;
    max-width: 500px;
}