.home{
    padding-top: 120px;
}

.home div{
    display: flex;
    padding-bottom: 200px;
    justify-content: center;
    align-items: center;
}

.home div p{
    font-size: 15px;
    padding: 100px;
}

.home div img{
    width: 300px;
    margin: 1em;
    margin-left: 3em;
}